/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: pink;
  text-align: center;
}

h2{
  text-align: center;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

.centered{
  text-align: center
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
}

#greeting{
  color:red
  }


button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

div#box1{
  background-color: orange;
  padding: 20px;
  text-align: center;
  color: white;
  margin: 10px;
}

div#box2{
  background-color: pink;
  padding: 20px;
  text-align: center;
  color: white;
  margin: 10px;
}

div#box3{
  background-color: orange;
  padding: 20px;
  text-align: center;
  color: white;
  margin: 10px;
}
